.txtCont {
  background-color: white !important;
  margin-bottom: 0 !important;
}

.homeTitle {
  font-size: 3.5vw !important;
}

.txtTitle {
  font-size: 2vw !important;
}

.acCont {
  margin-left: 0 !important;  
}

.colAccueil {
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .homeTitle {
    font-size: 5vw !important;
  }

  .txtTitle {
    font-size: 2.4vw !important;
  }
}