body {
    height: 100vh;
}

.interetsTitle {
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 3vw !important;
    text-align: center;
}

.interetsRow {
    height: 3vw;
}

.interetsBtn {
    border-color: #99b898 !important;
    background-color: #99b898 !important;
    width: 70vw;
    height: 5vw;
    font-size: 1.5vw !important;
}

.interetsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musiqueBtn {
    border-color: #99b898 !important;
    background-color: #99b898 !important;
    width: 70vw;
    height: 5vw;
    font-size: 1.5vw !important;
    color: white !important;
    text-decoration: none !important;
}


@media screen and (max-width: 768px) {

    .interetsBtn, .musiqueBtn {
        font-size: 3vw !important;
    }

}



